.placeholder {
  color: var(--gold-a7);
  pointer-events: none;
  position: absolute;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  font-family: var(--Typography-Font-family-text, Inter);

}
