.titleText {
  font-size: 19px;
  font-weight: 500;
  color: var(--gold-12);
}

.subtitleText {
  font-family: var(--mono-font-family);
  font-size: 13px;
  font-weight: 400;
  color: var(--gold-11);
}
